# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# MacOS
*.DS_Store

# 3rdParty Models
Hardware/3rdparty/*
!Hardware/3rdparty/Connecter/
Hardware/3rdparty/Connecter/*
!Hardware/3rdparty/Connecter/HRO_TYPE-C-31-M-12
Hardware/3rdparty/Connecter/HRO_TYPE-C-31-M-12/*
!Hardware/3rdparty/Connecter/HRO_TYPE-C-31-M-12/.gitkeep

!Hardware/3rdparty/Transistor/
Hardware/3rdparty/Transistor/*
!Hardware/3rdparty/Transistor/BCM857BS_SOT-363
Hardware/3rdparty/Transistor/BCM857BS_SOT-363/*
!Hardware/3rdparty/Transistor/BCM857BS_SOT-363/.gitkeep


# Temporary files
*.000
*.bak
*.zip
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
